*{
	box-sizing: border-box;
	cursor: default;
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


body{
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	background-size: cover cover;
	backgorund orientation: border-box;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
 

}

img{
	width: 100%;
	border-radius: 10px;

}

article{
	display:flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 75vw;
	padding: 20px;
	align-self: center;
	align-items: center;
	}

h2{
	align-self: flex-start ;
}

article:first-of-type{
color:#daa520;
}